<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <title>INDEX</title>
            <title>ADMIN MENU</title>
            <link rel="stylesheet" type="text/css" href="css/adminbutton.css" />
    </head>
    <body>
        <div class="container">
            <button class="btn-5" type="button" onclick="location.href='/input'">데이터 삽입</button>
            <button class="btn-5" type="button" onclick="location.href='/status'">매출현황</button>
            <button class="btn-5" type="button" onclick="location.href='/'">홈화면으로</button>
            
          </div>
    </body>
</html>
