<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>INDEX</title>
		<meta name="description" content="Blueprint: Slide and Push Menus" />
		<meta name="keywords" content="sliding menu, pushing menu, navigation, responsive, menu, css, jquery" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="top">
			<div><p style="text-align:left; margin:auto;">ICT 텀프로젝트 박병권, 이수균, 김효은</p>
			</div>
			<div>
				<a href="/admin" class="icon-arrow-left" data-info="관리자메뉴">관리자메뉴</a>
				<a href="/info" class="icon-drop" data-info="정보">정보</a>
				</div>
		</div>	
		<div class="main">
			<section>
				<!-- <h2>아무곳이나 눌러주세요</h2> -->
				<!-- Class "cbp-spmenu-open" gets applied to menu -->
				<button onclick="location.href='/menu?mode=best'" id="showLeft"></button>
			</section>
		</div>
		</body>
</html>