<!DOCTYPE html>
<style>
  .button {
    background-color: #0D4C1E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {width: 250px;}
</style>
<table align=center style="margin-top:200px;">
  <tr>
    <td width=500 align=center>
      <h1> 결제가 완료되었습니다.</h1>
    </td>
  </tr>
  <tr>
    <td align=center width=500>
      <a href="/">
      <button class="button button1"><b>홈으로</button>
      </a>
      </td>
  </tr>
</table>
</html>